{%- liquid
  assign questions = collection.metafields.zen.question
  assign answer = collection.metafields.zen.answer
-%}
{%- if questions != blank -%}
  {%- if section.settings.divider -%}
    <div class="page-width"><div class="section--divider">{% render 'svg-icon' with 'divider' %}</div></div>
  {%- endif -%}

  <div class="collection-faqs">
    <button type="button" class="collapsible-trigger collapsible-trigger-btn faq-trigger"
            aria-controls="collection-faq">
      {{ section.settings.title | escape }}
      <div class="faq-icon">
        {%- render 'svg-icon' with 'plus' -%}
        {%- render 'svg-icon' with 'minus' -%}
      </div>
    </button>

    <div id="collection-faq" class="collapsible-content collapsible-content--all">
      <div class="collection-faq__content collapsible-content__inner">
        {%- for question in questions -%}
          <div class="collection-faq__question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ forloop.index0 }}">
              {%- render 'collapsible-icons-alt', no_circle: true -%}
              <span itemprop="name">{{ question }}</span>
            </button>
            <div id="FAQ-content-{{ forloop.index0 }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte" itemprop="text">
                {{ answer[forloop.index0]}}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection FAQs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQs"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": true
    }
  ]
}
{% endschema %}
